<img *ngIf="showImage; else saveText" [src]="'assets/img/' + save + '.svg'" [title]="save" width="96">
<ng-template #saveText>
  <div class="save-type-container">
    <span>Save type</span>
    <span><b>{{ save | startCase }}</b></span>
  </div>
</ng-template>
<hr>
<div class="resistable-container">
  <div>
    Spell resistable
  </div>
  <div *ngIf="spellResistable">
    <d20md-icon [iconName]="'fa-check'"></d20md-icon>
  </div>
  <div *ngIf="!spellResistable">
    <d20md-icon [iconName]="'fa-times'"></d20md-icon>
  </div>
</div>
