<div class="quick-search-container">

  <div class="form-group name-search">
    <input
      type="text"
      class="form-control input-sm dimmed"
      id="name-control"
      placeholder="Name..."
      [formControl]="nameControl"
    >
  </div>

  <div class="form-group type-search">
    <select class="form-control input-sm dimmed" [formControl]="typeControl">
      <option value="" disabled selected>Spell type...</option>
      <option value="">All</option>
      <option *ngFor="let spellType of spellTypes | async" [ngValue]="spellType">{{ spellType | startCase }}</option>
    </select>
  </div>

</div>

<div *ngIf="dataObs | async as data">

  <div *ngIf="data.rows?.length; else noSpells">
    <table class="table table-striped" id="owned-spells-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Levels</th>
          <th>Views</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let spell of data.rows">
          <td class="name-cell" [routerLink]="['/', 'spells', 'show', spell.id ]">{{ spell.name }}</td>
          <td>{{ spell.spell_type | startCase }}</td>
          <td>
            <div *ngFor="let level of spell.SpellLevels">
              {{ level | spellLevel }}
            </div>
            <div *ngIf="!spell.SpellLevels?.length">
              No assigned levels
            </div>
          </td>
          <td>{{ spell.views }}</td>
          <td class="dropdown-column">
            <div class="btn-group" dropdown>
              <button dropdownToggle type="button" class="btn btn-default dropdown-toggle">
                <d20md-icon iconName="fa-ellipsis-v"></d20md-icon>
              </button>
              <ul *dropdownMenu class="dropdown-menu" role="menu">
                <li role="menuitem">
                  <a class="dropdown-item delete-item" (click)="deleteModal.show({ name: spell.name, id: spell.id })">
                    <d20md-icon iconName="fas fa-trash" text="Delete"></d20md-icon>
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination-container" *ngIf="data.rows.length">
      <pagination
        class="pagination-sm"
        [itemsPerPage]="itemsPerPage"
        [maxSize]="10"
        [totalItems]="data.count"
        [formControl]="paginationControl"
        [boundaryLinks]="true"
      ></pagination>
    </div>
  </div>

  <ng-template #noSpells>
    <div class="no-items-placeholder">
      <img src="assets/img/no-spells.svg" width="128" height="128" />
      <h3>There are no spells matching criteria</h3>
      <button class="btn btn-lg btn-success" [routerLink]="['/', 'spells', 'add']">Create Spell</button>
    </div>
  </ng-template>
</div>

<d20md-confirm-delete-modal
  #deleteModal
  (deleteEntity)="onDelete($event)"
></d20md-confirm-delete-modal>
