<div *ngIf="!mini else miniVersion">
  <div *ngIf="isFavourite else addToFavourites" class="mark-container">
    <button
      id="remove-from-favourites"
      title="Remove from Favourites"
      class="btn btn-info"
      (click)="onClick.emit()"
    >
      <i class="fas fa-star" aria-hidden="true"></i>
    </button>
    <span *ngIf="favouritesCount != null" @slideInOutTop title="Total" class="badge">{{ favouritesCount }}</span>
  </div>

  <ng-template #addToFavourites>
    <div class="mark-container">
      <button
        id="add-to-favourites"
        title="Add to Favourites"
        class="btn btn-info"
        (click)="onClick.emit()"
      >
        <i class="far fa-star" aria-hidden="true"></i>
      </button>
      <span *ngIf="favouritesCount != null" @slideInOutBottom title="Total" class="badge">{{ favouritesCount }}</span>
    </div>
  </ng-template>
</div>

<ng-template #miniVersion>
  <button
    *ngIf="isFavourite else addToFavourites"
    id="remove-from-favourites"
    title="Remove from Favourites"
    class="btn btn-xs btn-info"
    (click)="onClick.emit()"
  >
    <i class="fas fa-star" aria-hidden="true"></i>
  </button>

  <ng-template #addToFavourites>
    <button
      id="add-to-favourites"
      title="Add to Favourites"
      class="btn btn-xs btn-info"
      (click)="onClick.emit()"
    >
      <i class="far fa-star" aria-hidden="true"></i>
    </button>
  </ng-template>
</ng-template>
