<div *ngIf="monsterOb | async as monster">
  <div class="print-button-container">
    <button class="btn btn-primary">Print</button>
  </div>
  <h2>{{ monster.name }}</h2>

  <div>
    <d20md-general-panel
      [monsterId]="monster.id"
      [canModify]="false"
    ></d20md-general-panel>
  </div>
  <div>
    <d20md-save-panel
       [monsterId]="monster.id"
       [canModify]="false"
    ></d20md-save-panel>
  </div>
  <div>
    <d20md-hit-dices-panel
       [monsterId]="monster.id"
       [canModify]="false"
    ></d20md-hit-dices-panel>
  </div>

</div>
