div.reset-password-container {
  display: flex;
  justify-content: center;

  div.panel {
    flex: 0 1 50em;

    .img-container {
      text-align: center;
    }

    h5 {
      text-align: center;
    }
  }
}
