<div class="reset-password-container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="img-container">
        <img src="assets/img/login-gate.svg" width="64">
      </div>
      <h5>Lost the password? Just enter your registration email and we will send you a link which you can use to change your password.</h5>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          class="form-control"
          name="email"
          placeholder="Email"
          autocomplete="username"
          required
          (keyup.enter)="onReset()"
          [formControl]="emailControl"
        >
      </div>

      <div *ngIf="errorText" class="alert alert-danger" role="alert">
        {{ errorText }}
      </div>
      <div *ngIf="text" class="alert alert-info" role="alert">
        {{ text }}
      </div>

      <div style="text-align: right">
        <button
          id="reset-password-button"
          type="button"
          class="btn btn-success"
          [disabled]="emailControl.invalid"
          (click)="onReset()"
        >
          Send Reset Password Link
        </button>
      </div>

    </div>
  </div>
</div>
