.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    margin-bottom: 8px;
  }

  .btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
