<d20md-modal-base [buttons]="modalButtons">
  <div *ngIf="monster">

    <img [src]="'assets/img/' + monster.type + '.svg'" height="96">

    <h4>Generate hit dices for {{ monster.type | startCase }}</h4>
    <p class="introduce">
      Input the number of hit dices you want for your creature,
      we will do recalculation of all related values.
    </p>

    <div class="form-group">
      <input
        class="form-control dimmed"
        id="generate-hit-dices-amount"
        name="generate-hit-dices-amount"
        type="number"
        placeholder="Hit dice amount"
        [formControl]="hitDiceAmountControl"
      >
    </div>

    <div *ngIf="isSubtypeNeeded()" class="form-group">
      <label class="control-label" for="generate-subtype">Subtype</label>
      <select
        class="form-control dimmed"
        id="generate-subtype"
        name="generate-subtype"
        [formControl]="subtypeControl"
      >
        <option *ngFor="let subtype of monsterSubtypes" [ngValue]="subtype">{{ subtype | startCase }}</option>
      </select>
    </div>

  </div>
</d20md-modal-base>
