.panel-body {
  table {
    .name-cell {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .type-cell {
      display: flex;
      justify-content: center;
    }
  }

  ::ng-deep ul.pager {
    margin-bottom: 0px;
  }

  div.no-items-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
