table.table {
  tbody {
    td.name-cell {
      max-width: 128px;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    td.dropdown-column {
      width: 50px;

      .btn-group {
        cursor: pointer;
      }
    }
  }
}

div.pagination-container {
  display: flex;
  justify-content: center;
}

div.no-items-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin: 32px 0px;
  }
}
